<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Favorite Stars</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <main class="sm: text-center p-8" >
        <div class="sm: flex item-center justify-evenly"> 
            <img class="h-12 w-auto" src="images/NASA_logo.svg.png" alt="nasa logo">
            <h1 class="text-5xl">NASA APOD</h1>
        </div>
        <nav class="sm: bg-gray-900 text-white px-4 py-3 border-b border-gray-800 rounded-md mt-4 mb-4">
            <ul class="flex item-center justify-evenly">
                <li><a class="mr-4 hover:text-gray-500" href="#">About</a></li>
                <li><a class="mr-4 hover:text-gray-500" href="#">Get Started</a></li>
                <li><a class="mr-4 hover:text-gray-500" href="#">Collection</a></li>
            </ul>
        </nav>
        
        <section>
            <div>
                <h1 class="text-2xl">What is NASA APOD?</h1>
                <p>NASA's Astronomy Picture of the Day (APOD) is a website that has been publishing a new space-related image or video every day since June 1995. The website features captivating images and videos from the universe, such as images of galaxies, stars, planets, and other celestial phenomena. The APOD API provides developers with programmatic access to the vast collection of APOD media, allowing them to build their own applications that leverage this content. With the APOD API, developers can access the same high-quality media that has been enjoyed by millions of people worldwide, and create exciting new applications that showcase the wonders of the universe.</p>
            </div>
            <div>
                <h1 class="text-2xl mt-6">Project CRUD</h1>
                <p>This project provides a web application built with Node.js and Express, which allows users to create, read, update, and delete (CRUD) data related to NASA's Astronomy Picture of the Day (APOD) API. The application features a simple and intuitive user interface that enables users to browse through APOD images and videos, create and save their own notes about them, and manage their notes by editing or deleting them. The project uses a variety of technologies, including Bootstrap for styling the user interface, MongoDB for storing the data, and Heroku for deploying the application to the web. The codebase is well-organized and documented, making it easy for developers to understand and contribute to the project.</p>
            </div>
        </section>
</main>
</body>
</html>